# This is a good default: files that are auto-detected by git to be text are
# converted to the platform-native line ending (LF on Unix, CRLF on Windows)
# in the working tree and to LF in the repository.
#
* text=auto

# Use `eol=crlf` for files that should have the CRLF line ending both in the
# working tree (even on Unix) and in the repository.
#
#*.bat text eol=crlf

# Use `eol=lf` for files that should have the LF line ending both in the
# working tree (even on Windows) and in the repository.
#
#*.sh text eol=lf

# Use `binary` to make sure certain files are never auto-detected as text.
#
#*.png binary

# To regenerate this list, run:
#
# find . -type l -xtype d | sort | sed -re 's%^./(.+)%\1 symlink=dir%'
#
crashpad-tests/crashpad-tests/handler/linux symlink=dir
crashpad-tests/crashpad-tests/handler/mac symlink=dir
crashpad-tests/crashpad-tests/handler/win symlink=dir
crashpad-tests/crashpad-tests/minidump/test symlink=dir
crashpad-tests/crashpad-tests/snapshot/crashpad_types symlink=dir
crashpad-tests/crashpad-tests/snapshot/elf symlink=dir
crashpad-tests/crashpad-tests/snapshot/linux symlink=dir
crashpad-tests/crashpad-tests/snapshot/mac symlink=dir
crashpad-tests/crashpad-tests/snapshot/minidump symlink=dir
crashpad-tests/crashpad-tests/snapshot/posix symlink=dir
crashpad-tests/crashpad-tests/snapshot/sanitized symlink=dir
crashpad-tests/crashpad-tests/snapshot/test symlink=dir
crashpad-tests/crashpad-tests/snapshot/win symlink=dir
crashpad-tests/crashpad-tests/snapshot/x86 symlink=dir
crashpad-tests/crashpad-tests/test/linux symlink=dir
crashpad-tests/crashpad-tests/test/mac symlink=dir
crashpad-tests/crashpad-tests/test/win symlink=dir
crashpad-tests/crashpad-tests/third_party/zlib symlink=dir
crashpad-tests/crashpad-tests/util/file symlink=dir
crashpad-tests/crashpad-tests/util/linux symlink=dir
crashpad-tests/crashpad-tests/util/mac symlink=dir
crashpad-tests/crashpad-tests/util/mach symlink=dir
crashpad-tests/crashpad-tests/util/misc symlink=dir
crashpad-tests/crashpad-tests/util/net symlink=dir
crashpad-tests/crashpad-tests/util/numeric symlink=dir
crashpad-tests/crashpad-tests/util/posix symlink=dir
crashpad-tests/crashpad-tests/util/process symlink=dir
crashpad-tests/crashpad-tests/util/stdlib symlink=dir
crashpad-tests/crashpad-tests/util/stream symlink=dir
crashpad-tests/crashpad-tests/util/string symlink=dir
crashpad-tests/crashpad-tests/util/synchronization symlink=dir
crashpad-tests/crashpad-tests/util/thread symlink=dir
crashpad-tests/crashpad-tests/util/win symlink=dir
crashpad-tools/crashpad-tools/mac symlink=dir
libcrashpad/libcrashpad/compat/linux symlink=dir
libcrashpad/libcrashpad/compat/mac symlink=dir
libcrashpad/libcrashpad/compat/non_mac symlink=dir
libcrashpad/libcrashpad/compat/non_win symlink=dir
libcrashpad/libcrashpad/compat/win symlink=dir
libcrashpad/libcrashpad/handler/linux symlink=dir
libcrashpad/libcrashpad/handler/mac symlink=dir
libcrashpad/libcrashpad/handler/win/wer symlink=dir
libcrashpad/libcrashpad/minidump/test symlink=dir
libcrashpad/libcrashpad/snapshot/crashpad_types symlink=dir
libcrashpad/libcrashpad/snapshot/elf/elf_image_reader_fuzzer_corpus symlink=dir
libcrashpad/libcrashpad/snapshot/linux symlink=dir
libcrashpad/libcrashpad/snapshot/mac symlink=dir
libcrashpad/libcrashpad/snapshot/minidump symlink=dir
libcrashpad/libcrashpad/snapshot/posix symlink=dir
libcrashpad/libcrashpad/snapshot/sanitized symlink=dir
libcrashpad/libcrashpad/snapshot/test symlink=dir
libcrashpad/libcrashpad/snapshot/win symlink=dir
libcrashpad/libcrashpad/snapshot/x86 symlink=dir
libcrashpad/libcrashpad/tools/mac symlink=dir
libcrashpad/libcrashpad/util/linux symlink=dir
libcrashpad/libcrashpad/util/mac symlink=dir
libcrashpad/libcrashpad/util/misc symlink=dir
libcrashpad/libcrashpad/util/net symlink=dir
libcrashpad/libcrashpad/util/numeric symlink=dir
libcrashpad/libcrashpad/util/posix symlink=dir
libcrashpad/libcrashpad/util/process symlink=dir
libcrashpad/libcrashpad/util/stdlib symlink=dir
libcrashpad/libcrashpad/util/stream symlink=dir
libcrashpad/libcrashpad/util/string symlink=dir
libcrashpad/libcrashpad/util/synchronization symlink=dir
libcrashpad/libcrashpad/util/thread symlink=dir
libcrashpad/libcrashpad/util/win symlink=dir
